.singlePizza {
  padding: 30px;
  width: 450px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
}

.pizzaImg {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
}

.favButton {
  margin-left: 5px;
  border: none;
  background: none;
  font-size: 15px;
}

.favButton:focus {
  outline: none;
}

.pizzasArea {
  display: flex;
  flex-wrap: wrap;
}

.descr {
  background-color: rgb(240, 227, 228);
  padding: 10px;
}
